.articles-list-content {
  padding: 2em 7em;

  .section-btn-article{
    margin-top: 10vh;
    width: 100%;

    a{
      border: 2px solid dimgrey;
      padding: 2vh 6vh;
      text-decoration: none;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      text-align: center;
    }
  }

  .title-content{
    margin-bottom: 5vh;
  }

  // Initiation des cartes articles

  .flip-card {
    background-color: transparent;
    height: 60vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px;

    &:hover .flip-card-inner{
      transform: rotateY(180deg);
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 2vh;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      // Devant de la carte (Avant la rotation en hover)

      .flip-card-front {
        background-color: #bbb;
        color: black;

        .flip-card-front-img{
          background-color: red;
          height: 70%;
          width: 100%;
        }

        .flip-card-front-text{
          background-color: #0c4128;
          height: 30%;
          width: 100%;
          padding: 15px;
          -webkit-box-shadow: 0px -6px 6px 0px rgba(140,140,140,0.5);
          box-shadow: 0px -6px 10px 0px rgba(140,140,140,0.5);

          .btn-article{
            margin-top: 5px;
            width: 100%;
            text-align: right;
          }
        }

      }

      // Derrière de la carte (Après le flip)

      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;

        .text-content{
          height: 100%;
          width: 100%;
          padding: 2vh;
          margin: auto;

          .title-content{
            padding: 1vh 0;
            width: 100%;
          }
        }

        .btn-article{
          text-align: right;
          width: 100%;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 1200px)
@media (max-width: 1200px) {
  .articles-list-content {
    padding: 2em 1em;

    .title-content {
      padding: 2em 1em
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
}