@import "activity";
@import "slider";
@import "two_columns";
@import "image-full-width-text";
@import "gallery";
@import "actuality";
@import "catalogue";
@import "three_columns";
@import "three_columns2";
@import "guest_books";
@import "informations";
@import "form_contact";
@import "product";
@import "post";
@import "bootstrap/scss/bootstrap";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  display: inline-block;
  width: 100%;
  padding: 2vh 0;
}

nav a{
  padding: 0 2vh;
  text-decoration: none;
}
