<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav>
    <a href="index.html">Accueil</a>
    <a href="slider.html">Slider</a>
    <a href="activity.html">Activity</a>
    <a href="two_columns.html">Two Columns</a>
</nav>
<div
        {% if id %}
        id="{{ id }}"
        {% endif %}
        class="{{ config.class }} two-columns-content">
    {% if displayMediaLeft %}
    <div class="row row-eq-height">
        <div class="col-md-0 col-lg-1 two-columns-bloc-color">
            <div class="bloc-color-left"></div>
        </div>
        <div class="col-md-12 col-lg-5 two-columns-img two-columns-img-left"
             data-aos="fade-left">
            <div class="img-content img-content-left"></div>
            <div class="img-bloc-color-left"></div>
        </div>

        <div class="col-md-12 col-lg-6 text-content" data-aos="fade-right">
            <div class="text-bloc-hrztl-right"></div>
            <div class="text-bloc-vrtcl-right"></div>
            <div class="text-bloc-hrztl-right2"></div>
            <div class="text-bloc-vrtcl-right2"></div>
            <div class="two-columns-carre"></div>

            <div class="bloc-right"
                 {% if displayBackgroundMedia and BackgroundMedia %}
                 style="background: url('{% path BackgroundMedia, 'large' %}') no-repeat center center; background-size: cover;"
                 {% endif %}
            >
                <div class="position-text">
                    {{ text|raw }}
                    {% if displayLink %}
                    <div class="row d-flex p-3 btn-content">
                        <a href="{{ path(page) }}" class="btn btn-two-columns">{{ call_to_action_button }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row row-eq-height">
        <div class="col-md-12 col-lg-6 text-content" data-aos="fade-right">
            <div class="text-bloc-hrztl-left"></div>
            <div class="text-bloc-vrtcl-left"></div>
            <div class="text-bloc-hrztl-left2"></div>
            <div class="text-bloc-vrtcl-left2"></div>
            <div class="two-columns-carre"></div>

            <div class="bloc-left"
                 {% if displayBackgroundMedia and BackgroundMedia %}
                 style="background: url('{% path BackgroundMedia, 'large' %}') no-repeat center center; background-size: cover;"
                 {% endif %}
            >
                <div class="position-text">
                    {{ text|raw }}
                    {% if displayLink %}
                    <div class="row d-flex p-3 btn-content">
                        <a href="{{ path(page) }}" class="btn btn-two-columns">{{ call_to_action_button }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-5 two-columns-img two-columns-img-right"
             data-aos="fade-left">
            <div class="img-bloc-color">
                <div class="img-bloc-color-right"></div>
            </div>
            <div class="img-content img-content-right"></div>
        </div>
        <div class="col-md-0 col-lg-1 two-columns-bloc-color">
            <div class="bloc-color-right"></div>
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>